.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


textarea{
  height: 5em;
  width: 93%;
  line-height: 22px;
  min-height: 22px;
  overflow-y: hidden;
  border: 1px solid black;
  border-radius: 5px;
  resize: none;
  padding: 0.5em;
}


div#root {
  margin: 1em;
}

div#descripcion {
  position: absolute;
  top:1em;
  right: 1em;
  font-size: 0.8em;
}

div#resultado {
  border: 1px solid #00000029;
  margin-top: 2em;
  padding: 0.4em;
  line-height: 1.9em;
  font-size: 1.4em;
}

h3 {
  margin-top:3em;
}